spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://postgres:5432/user_service_db
    username: postgres
    password: Admin@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
