
spring:
  application:
    name: analytics-service
  datasource:
    url: jdbc:postgresql://postgres:5432/analytics_service_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
